# Hello Jupyter Notebook

Jupyter notebooks is a great code editor for machine learning. Play around with the following cells to familiarize yourself with it.

### Cheat sheet

1. Double-click me!
2. Now you see me in edit mode (see the green box around me?) This means you can write stuff.
3. Now, hit Escape on your keyboard (see the box turn blue?) This means you are in command mode and can do lots of cool stuff. Try any of the following:
  - H (see **H**elp page)
  - A (insert cell **A**bove)
  - B (insert cell **B**elow)
4. Now, click me again, and execute me by running **Shift + Enter**. This is how you execute code in Jupyter. Try executing the following cells

In [3]:
print('Hello world!')

Hello world!

In [4]:
100/10*5

50

In [5]:
# When in doubt, you can use the '?' suffix to bring up the documentation
print?

Object `print` not found.

# Hello Python

### Variables

In [6]:
# this is how you define a variable
a = 10
print(a)
print(a+a)

some_variable = 'hello world'
print(some_variable)

10
20
hello world

In [9]:
# define variable my_name and assign your own name (e.g. 'david') to it. and then print it:

# YOUR CODE HERE: my_name ="Mark"

In [10]:
# Virtually everything in programming in case-sensitive
b = 10
B = 2000
print(b)

10

### Math operators

In [11]:
1 + 1

2

In [12]:
10/2

5

In [13]:
10*3

30

### Boolean operators

In [14]:
# Boolean (true/false) operators 
1 == 1

True

In [15]:
1 == 2

False

In [16]:
2 > 1

True

In [17]:
# joining boolean statements with 'and'
3 > 1 and 3 > 2

True

In [21]:
print('hello' == 'hello')
print('hello' != 'bye')

True
True

### Arrays

In [22]:
# Arrays are denoted with square brackets - []
my_array = [100, 200, 300, 1000, 4200]
print(my_array)

[100, 200, 300, 1000, 4200]

In [33]:
# Accessing elements in an array (in programming, counting starts from 0!)
my_array[0]

100

In [24]:
# Accessing a range of elements in an array with colon ':'
my_array[0:4] # this gives us the zeroth to the fourth (non-inclusive) elements

[100, 200, 300, 1000]

In [25]:
my_array[:] # this gives us everything in an array

[100, 200, 300, 1000, 4200]

### Functions

In [35]:
# Defining a function
def add_2_numbers(a, b):
    return a + b

In [36]:
# Invoking a function
add_2_numbers(10, 200)

210

### Objects

In [28]:
# This is a class. Think of class as a blueprint for creating objects
class Person:
    def walk(self):
        print('i am walking!')
        
    def talk(self, topic):
        print('i am talking about ' + topic + '!')
        
    def add_2_numbers(self, a, b):
        return a + b

In [39]:
david = Person()

In [40]:
# This is known as a 'method'. A method is a function that belongs to an object
david.walk()

i am walking!

In [44]:
# Make david talk
# YOUR CODE HERE:
david.talk("Donald Trump")

i am talking about Donald Trump!

In [51]:
# Create another object and assign it to a variable of your choice. And then call all 3 of its methods:
# YOUR CODE HERE:
Mark = Person()

# Hello pandas

In [53]:
import pandas as pd

In [57]:
# pandas is an object (remember Person?) that can do things (i.e. it has methods).
# To see all the methods,  type the object (e.g. pd) followed by a dot (.) and hit "Tab". You can then scroll through its methods
pd.read_csv

In [66]:
# To load a csv file as a dataframe
# A dataframe is like your excel table
pd.read_csv('./data/bank-marketing-data/bank-additional-balanced-dataset.csv')

anything.head

<bound method DataFrame.head of       Unnamed: 0  age  duration  campaign  pdays  previous  emp.var.rate  \
0              0   56       261         1    999         0           1.1
1              1   57       149         1    999         0           1.1
2              2   37       226         1    999         0           1.1
3              3   40       151         1    999         0           1.1
4              4   56       307         1    999         0           1.1
5              5   45       198         1    999         0           1.1
6              6   59       139         1    999         0           1.1
7              7   41       217         1    999         0           1.1
8              8   24       380         1    999         0           1.1
9              9   25        50         1    999         0           1.1
10            10   41        55         1    999         0           1.1
11            11   25       222         1    999         0           1.1
12            12   29       137         1    999         0           1.1
13            13   57       293         1    999         0           1.1
14            14   35       146         1    999         0           1.1
15            15   54       174         1    999         0           1.1
16            16   35       312         1    999         0           1.1
17            17   46       440         1    999         0           1.1
18            18   50       353         1    999         0           1.1
19            19   39       195         1    999         0           1.1
20            20   30        38         1    999         0           1.1
21            21   55       262         1    999         0           1.1
22            22   55       342         1    999         0           1.1
23            23   41       181         1    999         0           1.1
24            24   37       172         1    999         0           1.1
25            25   35        99         1    999         0           1.1
26            26   59        93         1    999         0           1.1
27            27   39       233         1    999         0           1.1
28            28   54       255         2    999         0           1.1
29            29   55       362         1    999         0           1.1
...          ...  ...       ...       ...    ...       ...           ...
9610       41128   31       456         2    999         0          -1.1
9611       41130   31       260         1    999         0          -1.1
9612       41132   41       597         2      3         2          -1.1
9613       41134   25       244         1    999         0          -1.1
9614       41138   58       344         2    999         0          -1.1
9615       41140   33       237         2    999         0          -1.1
9616       41141   37       315         1    999         0          -1.1
9617       41142   43       741         4    999         2          -1.1
9618       41145   26       528         3    999         0          -1.1
9619       41146   41       252         4    999         0          -1.1
9620       41147   25       712         2     19         1          -1.1
9621       41148   35       397         3    999         0          -1.1
9622       41151   41       526         2      6         1          -1.1
9623       41153   67       655         2      5         5          -1.1
9624       41156   41       545         2    999         0          -1.1
9625       41158   35       363         1    999         0          -1.1
9626       41159   35       514         1      9         4          -1.1
9627       41160   33       843         1    999         0          -1.1
9628       41163   35       385         3      4         2          -1.1
9629       41164   54      1868         2     10         1          -1.1
9630       41165   38       403         2    999         0          -1.1
9631       41166   32       651         1    999         1          -1.1
9632       41171   33       112         1    999         0          -1.1
9633       41172   31       353         1    999         0          -1.1
9634       41173   62       329         1    999         2          -1.1
9635       41174   62       208         1      1         6          -1.1
9636       41178   62       483         2      6         3          -1.1
9637       41181   37       281         1    999         0          -1.1
9638       41183   73       334         1    999         0          -1.1
9639       41186   44       442         1    999         0          -1.1

      cons.price.idx  cons.conf.idx  euribor3m ...  month_sep  \
0             93.994          -36.4      4.857 ...          0
1             93.994          -36.4      4.857 ...          0
2             93.994          -36.4      4.857 ...          0
3             93.994          -36.4      4.857 ...          0
4             93.994          -36.4      4.857 ...          0
5             93.994          -36.4      4.857 ...          0
6             93.994          -36.4      4.857 ...          0
7             93.994          -36.4      4.857 ...          0
8             93.994          -36.4      4.857 ...          0
9             93.994          -36.4      4.857 ...          0
10            93.994          -36.4      4.857 ...          0
11            93.994          -36.4      4.857 ...          0
12            93.994          -36.4      4.857 ...          0
13            93.994          -36.4      4.857 ...          0
14            93.994          -36.4      4.857 ...          0
15            93.994          -36.4      4.857 ...          0
16            93.994          -36.4      4.857 ...          0
17            93.994          -36.4      4.857 ...          0
18            93.994          -36.4      4.857 ...          0
19            93.994          -36.4      4.857 ...          0
20            93.994          -36.4      4.857 ...          0
21            93.994          -36.4      4.857 ...          0
22            93.994          -36.4      4.857 ...          0
23            93.994          -36.4      4.857 ...          0
24            93.994          -36.4      4.857 ...          0
25            93.994          -36.4      4.857 ...          0
26            93.994          -36.4      4.857 ...          0
27            93.994          -36.4      4.857 ...          0
28            93.994          -36.4      4.857 ...          0
29            93.994          -36.4      4.857 ...          0
...              ...            ...        ... ...        ...
9610          94.767          -50.8      1.044 ...          0
9611          94.767          -50.8      1.041 ...          0
9612          94.767          -50.8      1.041 ...          0
9613          94.767          -50.8      1.041 ...          0
9614          94.767          -50.8      1.041 ...          0
9615          94.767          -50.8      1.040 ...          0
9616          94.767          -50.8      1.040 ...          0
9617          94.767          -50.8      1.040 ...          0
9618          94.767          -50.8      1.040 ...          0
9619          94.767          -50.8      1.040 ...          0
9620          94.767          -50.8      1.040 ...          0
9621          94.767          -50.8      1.040 ...          0
9622          94.767          -50.8      1.039 ...          0
9623          94.767          -50.8      1.039 ...          0
9624          94.767          -50.8      1.039 ...          0
9625          94.767          -50.8      1.035 ...          0
9626          94.767          -50.8      1.035 ...          0
9627          94.767          -50.8      1.035 ...          0
9628          94.767          -50.8      1.035 ...          0
9629          94.767          -50.8      1.035 ...          0
9630          94.767          -50.8      1.030 ...          0
9631          94.767          -50.8      1.030 ...          0
9632          94.767          -50.8      1.031 ...          0
9633          94.767          -50.8      1.031 ...          0
9634          94.767          -50.8      1.031 ...          0
9635          94.767          -50.8      1.031 ...          0
9636          94.767          -50.8      1.031 ...          0
9637          94.767          -50.8      1.028 ...          0
9638          94.767          -50.8      1.028 ...          0
9639          94.767          -50.8      1.028 ...          0

      day_of_week_fri  day_of_week_mon  day_of_week_thu  day_of_week_tue  \
0                   0                1                0                0
1                   0                1                0                0
2                   0                1                0                0
3                   0                1                0                0
4                   0                1                0                0
5                   0                1                0                0
6                   0                1                0                0
7                   0                1                0                0
8                   0                1                0                0
9                   0                1                0                0
10                  0                1                0                0
11                  0                1                0                0
12                  0                1                0                0
13                  0                1                0                0
14                  0                1                0                0
15                  0                1                0                0
16                  0                1                0                0
17                  0                1                0                0
18                  0                1                0                0
19                  0                1                0                0
20                  0                1                0                0
21                  0                1                0                0
22                  0                1                0                0
23                  0                1                0                0
24                  0                1                0                0
25                  0                1                0                0
26                  0                1                0                0
27                  0                1                0                0
28                  0                1                0                0
29                  0                1                0                0
...               ...              ...              ...              ...
9610                0                0                0                0
9611                0                0                1                0
9612                0                0                1                0
9613                0                0                1                0
9614                0                0                1                0
9615                1                0                0                0
9616                1                0                0                0
9617                1                0                0                0
9618                1                0                0                0
9619                1                0                0                0
9620                1                0                0                0
9621                1                0                0                0
9622                0                1                0                0
9623                0                1                0                0
9624                0                1                0                0
9625                0                0                0                1
9626                0                0                0                1
9627                0                0                0                1
9628                0                0                0                1
9629                0                0                0                1
9630                0                0                0                0
9631                0                0                0                0
9632                0                0                1                0
9633                0                0                1                0
9634                0                0                1                0
9635                0                0                1                0
9636                0                0                1                0
9637                1                0                0                0
9638                1                0                0                0
9639                1                0                0                0

      day_of_week_wed  poutcome_failure  poutcome_nonexistent  \
0                   0                 0                     1
1                   0                 0                     1
2                   0                 0                     1
3                   0                 0                     1
4                   0                 0                     1
5                   0                 0                     1
6                   0                 0                     1
7                   0                 0                     1
8                   0                 0                     1
9                   0                 0                     1
10                  0                 0                     1
11                  0                 0                     1
12                  0                 0                     1
13                  0                 0                     1
14                  0                 0                     1
15                  0                 0                     1
16                  0                 0                     1
17                  0                 0                     1
18                  0                 0                     1
19                  0                 0                     1
20                  0                 0                     1
21                  0                 0                     1
22                  0                 0                     1
23                  0                 0                     1
24                  0                 0                     1
25                  0                 0                     1
26                  0                 0                     1
27                  0                 0                     1
28                  0                 0                     1
29                  0                 0                     1
...               ...               ...                   ...
9610                1                 0                     1
9611                0                 0                     1
9612                0                 0                     0
9613                0                 0                     1
9614                0                 0                     1
9615                0                 0                     1
9616                0                 0                     1
9617                0                 1                     0
9618                0                 0                     1
9619                0                 0                     1
9620                0                 0                     0
9621                0                 0                     1
9622                0                 0                     0
9623                0                 0                     0
9624                0                 0                     1
9625                0                 0                     1
9626                0                 0                     0
9627                0                 0                     1
9628                0                 0                     0
9629                0                 0                     0
9630                1                 0                     1
9631                1                 1                     0
9632                0                 0                     1
9633                0                 0                     1
9634                0                 1                     0
9635                0                 0                     0
9636                0                 0                     0
9637                0                 0                     1
9638                0                 0                     1
9639                0                 0                     1

      poutcome_success  y
0                    0  0
1                    0  0
2                    0  0
3                    0  0
4                    0  0
5                    0  0
6                    0  0
7                    0  0
8                    0  0
9                    0  0
10                   0  0
11                   0  0
12                   0  0
13                   0  0
14                   0  0
15                   0  0
16                   0  0
17                   0  0
18                   0  0
19                   0  0
20                   0  0
21                   0  0
22                   0  0
23                   0  0
24                   0  0
25                   0  0
26                   0  0
27                   0  0
28                   0  0
29                   0  0
...                ... ..
9610                 0  1
9611                 0  1
9612                 1  1
9613                 0  1
9614                 0  1
9615                 0  1
9616                 0  1
9617                 0  1
9618                 0  1
9619                 0  1
9620                 1  1
9621                 0  1
9622                 1  1
9623                 1  1
9624                 0  1
9625                 0  1
9626                 1  1
9627                 0  1
9628                 1  1
9629                 1  1
9630                 0  1
9631                 0  1
9632                 0  1
9633                 0  1
9634                 0  1
9635                 1  1
9636                 1  1
9637                 0  1
9638                 0  1
9639                 0  1

[9640 rows x 65 columns]>

In [64]:
# Assign the output of this method to a variable
df = pd.read_csv('./data/bank-marketing-data/bank-additional-balanced-dataset.csv')

In [ ]:
# Again, df is an object that can do things (i.e. it has methods). Add a dot after df and hit "Tab to see its methods"
df.

In [67]:
# When in doubt about a method, you can either go to the official documentation (just google the library and method name), or use our good friend (?) 

# For example:
df.to_csv

<bound method DataFrame.to_csv of       Unnamed: 0  age  duration  campaign  pdays  previous  emp.var.rate  \
0              0   56       261         1    999         0           1.1
1              1   57       149         1    999         0           1.1
2              2   37       226         1    999         0           1.1
3              3   40       151         1    999         0           1.1
4              4   56       307         1    999         0           1.1
5              5   45       198         1    999         0           1.1
6              6   59       139         1    999         0           1.1
7              7   41       217         1    999         0           1.1
8              8   24       380         1    999         0           1.1
9              9   25        50         1    999         0           1.1
10            10   41        55         1    999         0           1.1
11            11   25       222         1    999         0           1.1
12            12   29       137         1    999         0           1.1
13            13   57       293         1    999         0           1.1
14            14   35       146         1    999         0           1.1
15            15   54       174         1    999         0           1.1
16            16   35       312         1    999         0           1.1
17            17   46       440         1    999         0           1.1
18            18   50       353         1    999         0           1.1
19            19   39       195         1    999         0           1.1
20            20   30        38         1    999         0           1.1
21            21   55       262         1    999         0           1.1
22            22   55       342         1    999         0           1.1
23            23   41       181         1    999         0           1.1
24            24   37       172         1    999         0           1.1
25            25   35        99         1    999         0           1.1
26            26   59        93         1    999         0           1.1
27            27   39       233         1    999         0           1.1
28            28   54       255         2    999         0           1.1
29            29   55       362         1    999         0           1.1
...          ...  ...       ...       ...    ...       ...           ...
9610       41128   31       456         2    999         0          -1.1
9611       41130   31       260         1    999         0          -1.1
9612       41132   41       597         2      3         2          -1.1
9613       41134   25       244         1    999         0          -1.1
9614       41138   58       344         2    999         0          -1.1
9615       41140   33       237         2    999         0          -1.1
9616       41141   37       315         1    999         0          -1.1
9617       41142   43       741         4    999         2          -1.1
9618       41145   26       528         3    999         0          -1.1
9619       41146   41       252         4    999         0          -1.1
9620       41147   25       712         2     19         1          -1.1
9621       41148   35       397         3    999         0          -1.1
9622       41151   41       526         2      6         1          -1.1
9623       41153   67       655         2      5         5          -1.1
9624       41156   41       545         2    999         0          -1.1
9625       41158   35       363         1    999         0          -1.1
9626       41159   35       514         1      9         4          -1.1
9627       41160   33       843         1    999         0          -1.1
9628       41163   35       385         3      4         2          -1.1
9629       41164   54      1868         2     10         1          -1.1
9630       41165   38       403         2    999         0          -1.1
9631       41166   32       651         1    999         1          -1.1
9632       41171   33       112         1    999         0          -1.1
9633       41172   31       353         1    999         0          -1.1
9634       41173   62       329         1    999         2          -1.1
9635       41174   62       208         1      1         6          -1.1
9636       41178   62       483         2      6         3          -1.1
9637       41181   37       281         1    999         0          -1.1
9638       41183   73       334         1    999         0          -1.1
9639       41186   44       442         1    999         0          -1.1

      cons.price.idx  cons.conf.idx  euribor3m ...  month_sep  \
0             93.994          -36.4      4.857 ...          0
1             93.994          -36.4      4.857 ...          0
2             93.994          -36.4      4.857 ...          0
3             93.994          -36.4      4.857 ...          0
4             93.994          -36.4      4.857 ...          0
5             93.994          -36.4      4.857 ...          0
6             93.994          -36.4      4.857 ...          0
7             93.994          -36.4      4.857 ...          0
8             93.994          -36.4      4.857 ...          0
9             93.994          -36.4      4.857 ...          0
10            93.994          -36.4      4.857 ...          0
11            93.994          -36.4      4.857 ...          0
12            93.994          -36.4      4.857 ...          0
13            93.994          -36.4      4.857 ...          0
14            93.994          -36.4      4.857 ...          0
15            93.994          -36.4      4.857 ...          0
16            93.994          -36.4      4.857 ...          0
17            93.994          -36.4      4.857 ...          0
18            93.994          -36.4      4.857 ...          0
19            93.994          -36.4      4.857 ...          0
20            93.994          -36.4      4.857 ...          0
21            93.994          -36.4      4.857 ...          0
22            93.994          -36.4      4.857 ...          0
23            93.994          -36.4      4.857 ...          0
24            93.994          -36.4      4.857 ...          0
25            93.994          -36.4      4.857 ...          0
26            93.994          -36.4      4.857 ...          0
27            93.994          -36.4      4.857 ...          0
28            93.994          -36.4      4.857 ...          0
29            93.994          -36.4      4.857 ...          0
...              ...            ...        ... ...        ...
9610          94.767          -50.8      1.044 ...          0
9611          94.767          -50.8      1.041 ...          0
9612          94.767          -50.8      1.041 ...          0
9613          94.767          -50.8      1.041 ...          0
9614          94.767          -50.8      1.041 ...          0
9615          94.767          -50.8      1.040 ...          0
9616          94.767          -50.8      1.040 ...          0
9617          94.767          -50.8      1.040 ...          0
9618          94.767          -50.8      1.040 ...          0
9619          94.767          -50.8      1.040 ...          0
9620          94.767          -50.8      1.040 ...          0
9621          94.767          -50.8      1.040 ...          0
9622          94.767          -50.8      1.039 ...          0
9623          94.767          -50.8      1.039 ...          0
9624          94.767          -50.8      1.039 ...          0
9625          94.767          -50.8      1.035 ...          0
9626          94.767          -50.8      1.035 ...          0
9627          94.767          -50.8      1.035 ...          0
9628          94.767          -50.8      1.035 ...          0
9629          94.767          -50.8      1.035 ...          0
9630          94.767          -50.8      1.030 ...          0
9631          94.767          -50.8      1.030 ...          0
9632          94.767          -50.8      1.031 ...          0
9633          94.767          -50.8      1.031 ...          0
9634          94.767          -50.8      1.031 ...          0
9635          94.767          -50.8      1.031 ...          0
9636          94.767          -50.8      1.031 ...          0
9637          94.767          -50.8      1.028 ...          0
9638          94.767          -50.8      1.028 ...          0
9639          94.767          -50.8      1.028 ...          0

      day_of_week_fri  day_of_week_mon  day_of_week_thu  day_of_week_tue  \
0                   0                1                0                0
1                   0                1                0                0
2                   0                1                0                0
3                   0                1                0                0
4                   0                1                0                0
5                   0                1                0                0
6                   0                1                0                0
7                   0                1                0                0
8                   0                1                0                0
9                   0                1                0                0
10                  0                1                0                0
11                  0                1                0                0
12                  0                1                0                0
13                  0                1                0                0
14                  0                1                0                0
15                  0                1                0                0
16                  0                1                0                0
17                  0                1                0                0
18                  0                1                0                0
19                  0                1                0                0
20                  0                1                0                0
21                  0                1                0                0
22                  0                1                0                0
23                  0                1                0                0
24                  0                1                0                0
25                  0                1                0                0
26                  0                1                0                0
27                  0                1                0                0
28                  0                1                0                0
29                  0                1                0                0
...               ...              ...              ...              ...
9610                0                0                0                0
9611                0                0                1                0
9612                0                0                1                0
9613                0                0                1                0
9614                0                0                1                0
9615                1                0                0                0
9616                1                0                0                0
9617                1                0                0                0
9618                1                0                0                0
9619                1                0                0                0
9620                1                0                0                0
9621                1                0                0                0
9622                0                1                0                0
9623                0                1                0                0
9624                0                1                0                0
9625                0                0                0                1
9626                0                0                0                1
9627                0                0                0                1
9628                0                0                0                1
9629                0                0                0                1
9630                0                0                0                0
9631                0                0                0                0
9632                0                0                1                0
9633                0                0                1                0
9634                0                0                1                0
9635                0                0                1                0
9636                0                0                1                0
9637                1                0                0                0
9638                1                0                0                0
9639                1                0                0                0

      day_of_week_wed  poutcome_failure  poutcome_nonexistent  \
0                   0                 0                     1
1                   0                 0                     1
2                   0                 0                     1
3                   0                 0                     1
4                   0                 0                     1
5                   0                 0                     1
6                   0                 0                     1
7                   0                 0                     1
8                   0                 0                     1
9                   0                 0                     1
10                  0                 0                     1
11                  0                 0                     1
12                  0                 0                     1
13                  0                 0                     1
14                  0                 0                     1
15                  0                 0                     1
16                  0                 0                     1
17                  0                 0                     1
18                  0                 0                     1
19                  0                 0                     1
20                  0                 0                     1
21                  0                 0                     1
22                  0                 0                     1
23                  0                 0                     1
24                  0                 0                     1
25                  0                 0                     1
26                  0                 0                     1
27                  0                 0                     1
28                  0                 0                     1
29                  0                 0                     1
...               ...               ...                   ...
9610                1                 0                     1
9611                0                 0                     1
9612                0                 0                     0
9613                0                 0                     1
9614                0                 0                     1
9615                0                 0                     1
9616                0                 0                     1
9617                0                 1                     0
9618                0                 0                     1
9619                0                 0                     1
9620                0                 0                     0
9621                0                 0                     1
9622                0                 0                     0
9623                0                 0                     0
9624                0                 0                     1
9625                0                 0                     1
9626                0                 0                     0
9627                0                 0                     1
9628                0                 0                     0
9629                0                 0                     0
9630                1                 0                     1
9631                1                 1                     0
9632                0                 0                     1
9633                0                 0                     1
9634                0                 1                     0
9635                0                 0                     0
9636                0                 0                     0
9637                0                 0                     1
9638                0                 0                     1
9639                0                 0                     1

      poutcome_success  y
0                    0  0
1                    0  0
2                    0  0
3                    0  0
4                    0  0
5                    0  0
6                    0  0
7                    0  0
8                    0  0
9                    0  0
10                   0  0
11                   0  0
12                   0  0
13                   0  0
14                   0  0
15                   0  0
16                   0  0
17                   0  0
18                   0  0
19                   0  0
20                   0  0
21                   0  0
22                   0  0
23                   0  0
24                   0  0
25                   0  0
26                   0  0
27                   0  0
28                   0  0
29                   0  0
...                ... ..
9610                 0  1
9611                 0  1
9612                 1  1
9613                 0  1
9614                 0  1
9615                 0  1
9616                 0  1
9617                 0  1
9618                 0  1
9619                 0  1
9620                 1  1
9621                 0  1
9622                 1  1
9623                 1  1
9624                 0  1
9625                 0  1
9626                 1  1
9627                 0  1
9628                 1  1
9629                 1  1
9630                 0  1
9631                 0  1
9632                 0  1
9633                 0  1
9634                 0  1
9635                 1  1
9636                 1  1
9637                 0  1
9638                 0  1
9639                 0  1

[9640 rows x 65 columns]>

In [ ]:
# Pick another random method of df and find out what it does by using '?' 

# YOUR CODE HERE:

In [69]:
# Some useful pandas methods:
# df.head(), df.head(7)
# df.describe()
# df.columns #Note: this is not a method, but an attribute. Notice that there are no brackets ()

df.columns

Index([u'Unnamed: 0', u'age', u'duration', u'campaign', u'pdays', u'previous',
       u'emp.var.rate', u'cons.price.idx', u'cons.conf.idx', u'euribor3m',
       u'nr.employed', u'job_admin.', u'job_blue-collar', u'job_entrepreneur',
       u'job_housemaid', u'job_management', u'job_retired',
       u'job_self-employed', u'job_services', u'job_student',
       u'job_technician', u'job_unemployed', u'job_unknown',
       u'marital_divorced', u'marital_married', u'marital_single',
       u'marital_unknown', u'education_basic.4y', u'education_basic.6y',
       u'education_basic.9y', u'education_high.school',
       u'education_illiterate', u'education_professional.course',
       u'education_university.degree', u'education_unknown', u'default_no',
       u'default_unknown', u'default_yes', u'housing_no', u'housing_unknown',
       u'housing_yes', u'loan_no', u'loan_unknown', u'loan_yes',
       u'contact_cellular', u'contact_telephone', u'month_apr', u'month_aug',
       u'month_dec', u'month_jul', u'month_jun', u'month_mar', u'month_may',
       u'month_nov', u'month_oct', u'month_sep', u'day_of_week_fri',
       u'day_of_week_mon', u'day_of_week_thu', u'day_of_week_tue',
       u'day_of_week_wed', u'poutcome_failure', u'poutcome_nonexistent',
       u'poutcome_success', u'y'],
      dtype='object')

In [70]:
# pd.Series
# A series is like a column in table.
# You can access series by referring to its column name:
# Example:
df['age']

# Try accessing other columns! (Use df.columns to see what columns are available to you)

0       56
1       57
2       37
3       40
4       56
5       45
6       59
7       41
8       24
9       25
10      41
11      25
12      29
13      57
14      35
15      54
16      35
17      46
18      50
19      39
20      30
21      55
22      55
23      41
24      37
25      35
26      59
27      39
28      54
29      55
        ..
9610    31
9611    31
9612    41
9613    25
9614    58
9615    33
9616    37
9617    43
9618    26
9619    41
9620    25
9621    35
9622    41
9623    67
9624    41
9625    35
9626    35
9627    33
9628    35
9629    54
9630    38
9631    32
9632    33
9633    31
9634    62
9635    62
9636    62
9637    37
9638    73
9639    44
Name: age, Length: 9640, dtype: int64

In [71]:
# we can see unique values in a series by using the .value_counts() method
df['y'].value_counts()

df["age"].value_counts()

33    420
36    419
31    396
35    395
32    372
34    370
30    356
38    338
39    333
37    332
29    311
41    301
28    280
42    271
45    258
40    257
43    251
48    234
46    223
44    213
50    201
47    185
26    185
27    185
49    181
52    179
51    178
56    177
53    166
57    154
     ...
65     23
71     21
19     20
70     19
76     18
80     18
63     17
68     15
74     15
78     14
69     14
73     13
77     13
72     13
18     12
75     11
82     11
67     11
88      9
83      8
81      8
79      7
85      7
86      5
84      3
92      3
17      2
89      2
98      2
87      1
Name: age, Length: 75, dtype: int64

# Hello Shell

To run shell commands in jupyter notebook, simply prefix the command with an exclamation mark (!)

In [ ]:
# to list the contents of a directory
!ls

In [ ]:
# to print working (i.e. current) directory
!pwd

In [ ]:
# to change directory
# cd <name-of-directory>

! cd .. && pwd

In [ ]:
# To join shell commands, use &&
! cd ../.. && pwd
! cd data/bank-marketing-data && ls -l # -l are options of the ls command

In [ ]:
# Hello git

In [ ]:
# 1. Create git repository in a folder
!git init

In [ ]:
# 2. Connect your local repository (i.e. on your desktop) to the remote repository (e.g. on github.com)
!git remote add origin YOUR_GITHUB_REPO_URL

In [ ]:
# 3. See the status of your git commits (this command can be run at anytime)
!git status

In [ ]:
# 3. Add your files to staging
!git add . # . means everything in the current working directory
# you can also add files or directories individually (e.g. git add my-file; git add my-directory/my-file; git add my-directory)

In [ ]:
# 4. Commit your files to the repo
!git commit -m "your awesome commit message"

In [ ]:
# !git push -u origin master
!git push https://<your_username>:<your_password>@https://YOUR_GITHUB_REPO_URL --all